<%- include("partials/header"); -%>

<div class="body">
  <div class="body-content">

    <h1 class="title"><%=notfound%></h1>

    <p class="text-secondary"><%= skyrimPhrases %></p>

    <a href="/" class="btn btn-outline-secondary">Return</a>
  </div>

<%- include("partials/footer"); -%>
