<%- include("partials/header"); -%>

<div class="body">
  <div class="body-content">

    <h2 class="title">Add a new circuit, new Patch-Panel or a new AZ.</h2>

    <p class="text-secondary"><%= skyrimPhrases %></p>

    <div class="row">
      <a href="/addcircuit" class="form-control btn btn-secondary btn-lg btn-block">Add Circuit</a>
    </div>
    <div class="row">
      <a href="/addpp" class="form-control btn btn-secondary btn-lg btn-block">Add Patch-Panel</a>
    </div>
    <div class="row">
      <a href="/addaz" class="form-control btn btn-secondary btn-lg btn-block">Add AZ</a>
    </div>

    <div>
      <a href="/upload-csv" class=" ">Upload CSV File</a>
    </div>
  </div>

  <%- include("partials/footer"); -%>
