<%- include("header"); -%>

<div class="body">
  <div class="content2">

    <h2>Fill in the form below to register a new circuit</h2>

    <h5 class="text-secondary"><%= skyrimPhrases %></h5>

    <div>

        <a href="/addcross" class="inputForm form-control btn btn-secondary btn-lg btn-block">Add Circuits</a>
        <a href="/addpp" class="inputForm form-control btn btn-secondary btn-lg btn-block">Add Patch-Panel</a>

  </div>
</div>

<%- include("footer"); -%>
