<%- include("header"); -%>

<div class="body">
  <div class="body-content">

    <h2 class="title">Fill in the form below to add a new Patch-Panel.</h2>

    <form action="/addpp" method="post" onsubmit="return confirm('Please, confirm the data before hitting OK');">
      <div class="row">
          <label for="">Patch-Panel ID:</label>
          <input type="text" name="patchPanelId" class="form-control" placeholder="Patch-Panel ID" autocomplete="off" required>
      </div>

      <div class="row">
          <label for="">Amount of ports this patch-panel has (1 port = 1/2 pair):</label>
          <input class="form-control" type=Number name="ports" placeholder="Amount of ports" autocomplete="off" required />
      </div>

      <div>
        <button class="row btn btn-secondary btn-lg btn-block" type="submit">Add</button>
      </div>
    </form>

    <a href="/add" class="btn btn-outline-secondary">Return</a>

  </div>

  <%- include("footer"); -%>
