<%- include("header"); -%>

<div class="body">
  <div class="body-content">
    <h2 class="title"><%= error %></h2>
  </div>

  <div class="">
    <img class="logo" src="https://i.pinimg.com/originals/4d/87/c3/4d87c3ae77ce4fea831fb41e9838754e.png" alt="">
  </div>

<%- include("footer"); -%>
