<%- include("header.ejs"); -%>

<div class="body">
  <div class="body-content">

    <h2 class="title"><%= fail %></h2>

    <a href="<%= route %>" class="searchButton btn btn-outline-secondary">Return</a>

  </div>

<%- include("footer.ejs"); -%>
